{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block bodyTitle %}Contact{% endblock %}

{% block body %}
    <div class="row row-cols-3">
        {% for contact in contacts %}
        <div class="col-md-4 mb-4">
            <a href="{{ contact.link }}" target="_blank" class="text-decoration-none">
                <div class="card">
                    <div class="card-body">
                        <div class="row m-0">
                            <div class="col-md-auto card-icon">
                                {{ ux_icon(contact.image) }}
                            </div>
                            <div class="col">
                                    <h5 class="card-title">{{ contact.title }}</h5>
                                    <p class="m-0">{{ contact.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
