{% extends 'base.html.twig' %}

{% block title %}Erreur 403 : Accès refusé{% endblock %}

{% block bodyTitle %}Erreur 403 : Accès refusé{% endblock %}

{% block body %}
    <p>Vous n'avez pas la permission d'accéder à cette page.</p>
    <a class="btn btn-info" href="{{ path('app_home') }}">Retour à l'accueil</a>
{% endblock %}
